# Ignore everything
*
*/**

# Whitelist

!src/documentation
!dist/*.js
!dist/*.LICENSE.txt
!src/{ledmatrix,memoryui,robot,sevensegboard}/*
!extension/images/**
!images
!readme.md
!LICENSE.txt
!CHANGELOG.md
!ThirdPartyNotices.txt
